.home-container {
  position: relative;
  height: 800px;
  border-radius: 20px;
  overflow: scroll;
  width: 80%;
  max-width: 500px;
  /* scroll-snap-type: y mandatory; */
}

.inbox-card {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
}

.form-input {
    width: 80%;
    margin-top: 5%;
}

/* Hide scrolbar for chrome, safari and opera */
.home-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrolbar for IE, Edge and Firefox */
.home-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}