.home-container {
  position: relative;
  height: 100vh;
  width: 100%;
  max-width: 500px;
}

.message-card {
    background-color: white;
    position: relative;
    width: 100%;
    height: 75px;
    margin-bottom: 1%;
    display: flex;
    scroll-snap-align: start;
}

.inbox-card {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 90vh;
}

.new-message-card {
    height: auto;
    width: 100%;
}
.new-message {
    position: absolute;
    float: right;
    right: 5%;
    display: none;
}

.form-input {
    width: 80%;
    margin-top: 5%;
}

/* Hide scrolbar for chrome, safari and opera */
.inbox-card::-webkit-scrollbar {
  display: none;
}

/* Hide scrolbar for IE, Edge and Firefox */
.inbox-card {
  -ms-overflow-style: none;
  scrollbar-width: none;
}