* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  height: 100vh;
  position: relative;
  background-color: black;
  display: grid;
  /* color: white; */
  place-items: center;
}

.login-container {
  position: relative;
  height: 100vh;
  /* height: 700px; */
  /* border-radius: 20px; */
  overflow: scroll;
  width: 100%;
  max-width: 500px;
  background-color: white;
}

/* Hide scrolbar for chrome, safari and opera */
.login-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrolbar for IE, Edge and Firefox */
.login-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}